{% extends "base.html" %}

{% block title %}
我的学习
{% endblock %}

{% block main %}

  <br class="my-2">
  <div class="container mt-3">
    <div class="row">
    {% for obj in object_list %}
      <div class="col">{{ obj.version }}</div>
      <div class="col"><span class="text-white bg-warning rounded px-1">￥{{ obj.cash_fee }}</span></div>
      <div class="w-100"></div>
      <div class="col"><small class="text-muted">{{ obj.created_time }}</small></div>
      <div class="w-100"></div>
      <hr class="col my-2">
      <div class="w-100"></div>

    {% empty %}
    <p>你目前没有报任何课程</p>
    {% endfor %}
    </div>
  </div>

{% endblock main %}


{% block extra_script %}
  <script>

  </script>
{% endblock extra_script %}