{% extends "base.html" %}

{% block title %}{% endblock %}


{% block main %}
<div class="container" id="app">
  <br>
  <h3>报名成功！</h3>
  <p class="">请长按扫描二维码加入学习群</p>
  <img src="{{ version.img.url }}" alt="组队学习二维码" width="100%">
  <small class="text-muted">若有任何问题，请加微信dusty_cjh或致电13780359572咨询</small>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

  <!-- 公众号宣传信息 -->
  <p class="text-right text-muted">长按扫描关注公众号</p>
  <p><img src="/media/icon/名片.png" alt="" width="100%"></p>
  <p class="text-muted"><small>本页面由蛮三提供技术支持</small></p>
</div>
{% endblock main %}


{% block extra_script %}
<script>

</script>
{% endblock extra_script %}
