{% extends "post/index.html" %}

{% block title %}
关于我 | 蛮三
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8 bg-white py-5">

        <div class="text-center">
          <img src="/media/icon/名片.png" alt="微信搜索‘大蛮三’" class="text-center" width="100%">
        </div>

        <p class="pt-3">
        🍑开张一年有逾，幸得君之关注<br>
        🍑愿能作君知己，锦绣文章以报<br>
        🍍谈笑有Python，往来无PHP<br>
        🍍可以学算法，做AI<br>
        🍍还可装软件，配环境<br>
        🍒无水帖之乱耳，无BUG之劳形<br>
        孔子云：talk is cheap, show me your code !<br>
        </p>

      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
{% endblock content %}

{% block extra_script %}

{% endblock extra_script %}